*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  color: #f2ecec;
  line-height: 1.5;
  padding: 20px;
}
h1{
  text-align: center;
  color:#f0ebeb;
  font-weight: 2rem;
}